body{
	font-weight: lighter;
}
p{
	margin: 0;
}
@media (min-width: 544px) {  
	.head {font-size:1.5rem;} /*1rem = 16px*/
}
   
@media (min-width: 768px) {  
	.head {font-size:2rem;} /*1rem = 16px*/
}
   
@media (min-width: 992px) { 
	.head {font-size:2.5rem;} /*1rem = 16px*/
}
   
@media (min-width: 1500px) {  
	.head {font-size:3rem;} /*1rem = 16px*/    
}

@media (min-width: 544px) {  
	.tail {font-size:0.3rem;} /*1rem = 16px*/
}

@media (min-width: 768px) {  
	.tail {font-size:0.4rem;} /*1rem = 16px*/
}
   
@media (min-width: 992px) { 
	.tail {font-size:0.5em;} /*1rem = 16px*/
}
   
@media (min-width: 1200px) {  
	.tail {font-size:0.6rem;} /*1rem = 16px*/    
}

@media (min-width: 544px) {  
	.parent {font-size:0.5rem;} /*1rem = 16px*/
}

@media (min-width: 768px) {  
	.parent {font-size:0.6rem;} /*1rem = 16px*/
}

@media (min-width: 800px) {  
	.parent {font-size:0.7rem;} /*1rem = 16px*/
}

@media (min-width: 992px) {  
	.parent {font-size:1.2rem;} /*1rem = 16px*/
}

@media (min-width: 544px) {  
	.child {font-size:0.3rem;} /*1rem = 16px*/
}
   
@media (min-width: 768px) {  
	.child {font-size:0.4rem;} /*1rem = 16px*/
}

@media (min-width: 800px) {  
	.child {font-size:0.5rem;} /*1rem = 16px*/
}

@media (min-width: 992px) {  
	.child {font-size:0.6rem;} /*1rem = 16px*/
}